<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="GET" action="@{/user/logging_in}" th:object="${user}">
    <label for="login">Введите логин: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <input type="submit" value="Войти">
</form>

</body>
</html>