<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Регистрация нового пользователя</title>
</head>
<body>
<!--<div th:if="${param.error}">-->
<!--  Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--  You have been logged out.-->
<!--</div>-->
<form action="/user/registration" method="post">
    <div><label> User Name : <input type="text" name="login"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>
{{#message}}
    {{message}}
{{/message}}
</body>
</html>